.form-group.field-product-category_fields_wish_id:first-child{
    padding-left: 0px;
}

.form-group.field-product-category_fields_wish_id {
    float: left;
    padding-left: 20px;
}

.form-radio{
    display: inline-block;
}