.category-aside .last-search .recent-searches{
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.category-aside ul li{
    list-style-type: none;
    padding-bottom: 4px;
    padding-top: 4px;
}
.category-aside ul{
    padding-left: 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 26px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.category-aside .last-search .search-list li a span{
    padding-right: 4px;
}

.category-aside ul li a {
    color: #808080;
}

.category-aside ul li:hover {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background: #f8f8f8;
    color: white;
}
.category-aside ul li:hover > a{
    color: black;
}

.title-child-category{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.title-list{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.list-child-list:hover{

}

.category-aside .last-field-category label{
    font-weight: 500;
}

.category-aside .last-field-category{
    border-bottom: 1px solid #eee;
    margin-bottom: 26px;
    padding-bottom: 5px;
}

.category-aside .title-list{
    color: #9b9b9b;
    margin: 0px 0 0px;
}

.search-list .recent-search-empty{
    font-size: 11px;
    font-weight: 500;
}

.search-block {
    top: 0;
}

.clear-default {
    border: 0;
    background: 0;
    padding: 0;
}
.search-animate {
    text-align: center;
    position: absolute;
    color: white;
    left: 180px;
    top: 0;
    overflow: hidden;
}

.search-icon {
    width: 45px;
    height: 45px;
    line-height: 32px;
    position: relative;
    z-index: 3;
}
.search-icon, .search-icon-mobile {
    display: block;
    background: #578dcc;
    border-radius: 50%;
    padding: 6px 8px 8px 8px;
    color: #fff;
    float: left;
    border: 2px solid #fff;
}
.search-icon .fa-search, .search-icon-mobile .fa-search {
    font-size: 20px;
}

.search-btn {
    width: 0;
    padding: 6px 8px;
    text-align: right;
    margin: 6px 13px;
    overflow: visible !important;
    z-index: 1;
}

.search-btn, .search-mobile {
    text-transform: uppercase;
    display: block;
    position: relative;
}

.last-field-category.cat-sidebar.cat-sidebar-left{
    position: relative;
}

.btn.search-btn{
    background-color: #2569af;
}
.btn.btn-success.search-btn{
    background-color: #2569af !important;
    border-color:#2569af !important;
}


.product-content .product-child a img{
    max-width: 200px;
}

.product-content .item-price{
    position: absolute;
    top: 120px;
    z-index: 5;
    right: 20px;
    line-height: 20px;
    padding: 0 7px 0 4px;
    opacity: 1;
    background: #fff;
    background: linear-gradient(135deg,transparent 0,#fff 0) top left,linear-gradient(225deg,transparent 3px,#fff 0) top right,linear-gradient(315deg,transparent 3px,#fff 0) bottom right,linear-gradient(45deg,transparent 0,#fff 0) bottom left;
    background-size: 55%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1px 1px 1px #999);
    filter: drop-shadow(1px 1px 1px #999);
    color: #3269c8;
    pointer-events: none;
    font-weight: bold;
}


.product-content  .slide-title {
    color: #1172b6 !important;
    font-size: 1.05em;
    padding: 8px 0px 0px 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-md-4.col-sm-4.col-xs-4.product-child{
    padding-bottom: 20px;
}

.category-aside{
    padding-top: 20px;
}

.product-child a img
{
    min-height: 155px;
}

.category-aside .search-animate.clear-default{
    outline: 0;
}


.side-menu-page {
    background: white;
    border-right: 1px solid #e7e7e7;
}

.side-menu-page {
    border-radius: 2px;
}

.header-section, .fotter-section {
    padding: 15px;
}

.header-section .favourite {
    opacity: 1;
}

/*
.favourite {
    position: absolute;
    right: 20px;
    top: 3px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0;
}
*/

/*.favourite .fa.fa-star {
    color: #C30;
}
.favourite .fa-star {
    color: #C30;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.favourite .fa.fa-star-o {
    color: #7d7d7d;
}*/


.side-menu-page .title h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 8px;
}

.complain.page_d {
    float: right;
    text-decoration: none;
}


#exchange_wanted {
    float: left;
    padding-right: 10px;
}
#other-date-cat-other-exchange_wanted {
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    background-color: #828282;
}
#exchange_wanted {
    float: left;
    padding-right: 10px;
}

#other-date-cat {
    float: left;
}

#other-date-cat, #other-date-cat-other {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.other-date-page {
    padding-right: 16px;
}
.catItemHits.text-left,.post-meta.text-right span{
    color: rgba(107, 107, 107, 0.69);
}

#other-date-cat {
    float: left;
}
.map-image {
    width: 22px;
    float: left;
    height: 24px;
}
#other-date-cat {
    float: left;
}

.table-description {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#fotter-section {
    padding: 15px;
}
.catItemHeader.line-thin-top {
    padding-bottom: 10px;
    padding-top: 11px;
    border-top: 1px solid rgba(204, 204, 204, 0.76);
}

.catItemHitsBlock .catItemHits {
    float: left;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.catItemHitsBlock .post-meta li {
    list-style-type: none;
}

.date-create {
    padding-right: 20px;
}

.catItemHits .glyphicon.glyphicon-eye-open, .fa.fa-clock-o.pink-color {
    color: black;
    margin-right: 5px;
}
.catItemHits b {
    color: black;
    font-weight: bold;
}

#category-fields{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
}


#category-fields table th,#category-fields table td{
    border-bottom: 1px solid #ddd;
}

#category-fields table th {
    border-right: 1px solid #ddd;
}

.category-aside-group{
    background-color: white;
}


.svg-favorite{background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Rentegning%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23B3CFF5%22%20d%3D%22M66.5%2C45H59l-9-26l-9%2C26H14l22%2C16l-8%2C26C28%2C87%2C41.1%2C59.2%2C66.5%2C45z%22/%3E%0D%0A%3Cpath%20fill%3D%22%23000A8C%22%20d%3D%22M86%2C45H66.5C41.1%2C59.2%2C28%2C87%2C28%2C87l22-16l22%2C16l-8-26L86%2C45z%22/%3E%0D%0A%3C/svg%3E%0D%0A');background-repeat:no-repeat}
.svg-share{background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Rentegning%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23B3CFF5%22%20d%3D%22M61%2C19c-5.5%2C0-10%2C4.5-10%2C10c0%2C0.9%2C0.1%2C1.7%2C0.3%2C2.6L28%2C48.1l4.1%2C5.7l23.4-16.6C57%2C38.4%2C58.9%2C39%2C61%2C39%0D%0A%09c5.5%2C0%2C10-4.5%2C10-10C71%2C23.5%2C66.5%2C19%2C61%2C19z%22/%3E%0D%0A%3Cpath%20fill%3D%22%23000A8C%22%20d%3D%22M61%2C63c-2.1%2C0-4%2C0.6-5.6%2C1.7L39.7%2C53.6c0.2-0.8%2C0.3-1.7%2C0.3-2.6c0-5.5-4.5-10-10-10c-5.5%2C0-10%2C4.5-10%2C10%0D%0A%09c0%2C5.5%2C4.5%2C10%2C10%2C10c2.1%2C0%2C4-0.6%2C5.6-1.7l15.7%2C11.2C51.1%2C71.3%2C51%2C72.1%2C51%2C73c0%2C5.5%2C4.5%2C10%2C10%2C10c5.5%2C0%2C10-4.5%2C10-10%0D%0A%09C71%2C67.5%2C66.5%2C63%2C61%2C63z%22/%3E%0D%0A%3C/svg%3E%0D%0A');background-repeat:no-repeat}
.svg-report{background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Rentegning%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23E1EEFA%22%20d%3D%22M65%2C46L50%2C14L17.9%2C85h8.6C36.9%2C68.2%2C47.3%2C54.8%2C65%2C46z%22/%3E%0D%0A%3Cpath%20fill%3D%22%23B3CFF5%22%20d%3D%22M65%2C46c-17.7%2C8.8-28.1%2C22.2-38.5%2C39h55.7L65%2C46z%22/%3E%0D%0A%3Cg%3E%0D%0A%09%3Crect%20x%3D%2246%22%20y%3D%2240%22%20fill%3D%22%23000A8C%22%20width%3D%228%22%20height%3D%2222%22/%3E%0D%0A%09%3Ccircle%20fill%3D%22%23000A8C%22%20cx%3D%2250%22%20cy%3D%2271.7%22%20r%3D%225.5%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');background-repeat:no-repeat}
.svg-icon-25 {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: text-top;
    background-position: center center;
    text-align: center;
    margin: 0 auto;
}

.nav-pills > li > a:hover{
    background-color: #eee !important;
    border-color: #337ab7;
}

#sharing:hover {

}

.category-aside-user li {
    width: 32.3%;
    text-align: center;
}

.vip-tools .nav {
    margin: 6px 0 10px;
}
.pull-right {
    float: right;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.nav-tabs>li, .nav-pills>li {
    float: left;
}

.vip-tools .nav>li>a {
    padding: 8px;
    min-width: 80px;
    text-align: center;
}

.nav-pills>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav>li>a {
    display: block;
}

.vip-tools .nav>li>a i {
    display: block;
    margin: 0 auto 2px;
}

.category-aside-group .user-data
{
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}

.user-data .address{
    padding-top: 16px;
}

#imageGallery .icon-zoom-in {
    opacity: 0;
}

#imageGallery {
    overflow: hidden;
}

.icon-zoom-in {
    background: url(/images/icon-zoom.svg);
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
}

.lSSlideOuter{
    padding: 15px;
}

.lSAction>a {
    width: 50px;
    height: 50px;
    background-size: 100% 100% !important;
    opacity: 0;
    border-radius: 999px;
    background-color: rgba(0,0,0,0.5);
    webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.lSAction>a.lSPrev {
    background: url(/images/arrow-left.svg);
}
.lSAction>a.lSNext {
    background: url(/images/arrow-right.svg);
}

@media only screen and (min-width: 1200px) {
    .group-user-data{
        max-width: 180px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none;
}

#imageGallery  li  {
    min-height: 424px;
    max-height: 100%;
    position: relative;
    text-align: center;
    background: white;
}

#imageGallery  li img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.follow-user-div{
    max-width: 141px;
    margin: 0 auto;
    /* padding: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    border: 1px solid #0c72ea;
    background-color: #0c72ea;
}

.follow-user-div .icon {
    color: white;
}
.follow-user-div .text-follow{
    color: white;
}

.follow-user{
    text-decoration-color: white !important;
}




div.form-control{
    height: auto !important;
}

div.form-control label{
    display: block;
}

.list-country-list li.active{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background: #f3f3f3f2;
    color: white;
}

.list-country-list li a{
    padding-left: 5px;
}

.map-home .material-icons{
    color: black;
}
.map-home .material-icons:hover{
    color: red;
}

.map-home.active .material-icons{
    color: red;
}

.group-geo-map{
    display: flex;
    align-items: center;
}

.sharing-dropdown li {
    width:100%;
}

.sharing-dropdown li a {
    text-align: left;
}

.field-private_productmessage-message{
    padding-top: 10px;
    width: 100%;
    float: left;
}

#private_productmessage-message{
    border-color: #5786d4;
    max-width: 100%;
}

.field-public_productmessage-message{
    padding-top: 10px;
    width: 100%;
    float: left;
}

#public_productmessage-message{
    border-color: #5786d4;
    max-width: 100%;
}

.submit-message{
    margin-top: 10px;
    margin-left: 5px;
    height: 51px;
    min-width: 72px;
}

.message-announcement .submit-message{
    margin-top: 0px;
    margin-left: 1px;
    height: 34px;
    min-width: 72px;
}

.message-announcement{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    display: block;
}

.message-announcement ul li{
    width: 50%;
}.message-announcement ul li.active a{
     color: #555;
     cursor: pointer;
     background-color: #ffffff00;
     border: 1px solid #ddd0;
     border-bottom-color: #6a6a6a;
     width: 100%;
}
.message-announcement ul li a{
    cursor: pointer !important;
}

.view-more-message{
    margin: 0 auto;
    text-align: center;
    margin-top: 11px;
}

.view-more-message button i {
    margin-right: 5px;
}

.message-announcement ul li a:hover ,.message-announcement ul li a:focus{
      color: #555 !important;
      cursor: default;
      background-color: #ffffff00 !important;
      border: 1px solid #ddd0 !important;
      border-bottom-color: #6a6a6a !important;
      width: 100%;
}
.message-announcement .help-block.help-block-error{
    color: #548bba;
}
.submit-message{
    background-color: #5786d4;
    border-color: #5786d4;
}

.settings .mdc-form-field{
    float: left;
    padding-right: 34px;
    margin-top: 0px;
}

.settings .help{
    float: left;
    margin-top: 2px;
}

.message-announcement  .feed-element .pull-left img{
    width: 38px;
    height: 38px;
}

.message-announcement .feed-element > .pull-left {
    margin-right: 10px;
}

sidebar-panel .feed-element, .media-body, .sidebar-panel p {
    font-size: 12px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    /* vertical-align: top; */
}

.text-navy {
    color: #1ab394;
}
.text-muted {
    color: #888888;
}

.feed-element.clearfix {
    padding-bottom: 10px;
    border-bottom: 1px solid #e7eaec;
    padding-top: 10px;
}

.group-message-button .delete{
    background: red;
    border-color: red;
    color: white;
}

.group-message-button .btn-white.like:first-child{
    background: green;
    border-color: green;
    color: white;
}

.group-message-button .btn-white.like{
    background: #cc3636;
    border: 1px solid #cc3636;
}

.edit-message-button{
    margin-top: 15px;
}

.svg-list{background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Rentegning%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23000A8C%22%20cx%3D%2221%22%20cy%3D%2230%22%20r%3D%227%22/%3E%0D%0A%3Crect%20x%3D%2236%22%20y%3D%2226%22%20fill%3D%22%23000A8C%22%20width%3D%2242%22%20height%3D%228%22/%3E%0D%0A%3Ccircle%20fill%3D%22%23000A8C%22%20cx%3D%2221%22%20cy%3D%2250%22%20r%3D%227%22/%3E%0D%0A%3Crect%20x%3D%2236%22%20y%3D%2246%22%20fill%3D%22%23000A8C%22%20width%3D%2242%22%20height%3D%228%22/%3E%0D%0A%3Ccircle%20fill%3D%22%23000A8C%22%20cx%3D%2221%22%20cy%3D%2270%22%20r%3D%227%22/%3E%0D%0A%3Crect%20x%3D%2236%22%20y%3D%2266%22%20fill%3D%22%23000A8C%22%20width%3D%2242%22%20height%3D%228%22/%3E%0D%0A%3C/svg%3E%0D%0A');background-repeat:no-repeat}

.svg-icon-16.svg-list{
    vertical-align: text-top;
    background-position: center center;
    padding: 1px 17px;
    font-size: 27px;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
}

.svg-gallery{background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Rentegning%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%2222%22%20y%3D%2224%22%20fill%3D%22%23000A8C%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0D%0A%3Crect%20x%3D%2254%22%20y%3D%2224%22%20fill%3D%22%23000A8C%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0D%0A%3Crect%20x%3D%2222%22%20y%3D%2256%22%20fill%3D%22%23000A8C%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0D%0A%3Crect%20x%3D%2254%22%20y%3D%2256%22%20fill%3D%22%23000A8C%22%20width%3D%2224%22%20height%3D%2224%22/%3E%0D%0A%3C/svg%3E%0D%0A');background-repeat:no-repeat}
.svg-icon-16.svg-gallery{
    vertical-align: text-top;
    background-position: center center;
    padding: 1px 17px;
    font-size: 27px;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
}

.grid-view.list-view
{
    float: right;
}

.checkbox-list{
    height: 100%;
    display: inline-block;
    width: 100%;
}

.category-content-field .category-content .hide{
    display: none;
}
.category-content-field .category-content .hide.active{
    display: block !important;
}


.last-field-category.cat-sidebar .field-alert
{
    width: 45%;
    float: left;
}
.last-field-category.cat-sidebar .field-alert.even{
    float: left;
}

.category-content .field-alert:nth-of-type(odd) {
    float: right !important;
    display: inline-block;
}


.checkbox-list .field-alert{
    width: 100% !important;
}

.checkbox-list .form-group  .form-control{
    display: inline-block;
}

.checkbox-list .form-group  .form-control label{
    display: block;
    float: left;

    margin-right: 5px;
}

.content-category-field #section-toggle{
    float: left;
}

.content-category-field .group-button-category .search-button{
    float: left;
    width: 22%;
    margin-right: 6px;
}

.content-category-field .group-button-category .search-button button{
    min-width: 137px;
    background-color: #ffffff;
    border-color: #d1d1d1;
    padding: 9px;
    color: black;
    border-radius: 0px;
}
.content-category-field .category-content.content-added{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.content-category-field #section-toggle{
    float: left;
    background: #ffffff;
    width: 22%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d1d1d1;
}
.content-category-field #section-toggle .show_hide_item{
    color: black;
    border-color: #d1d1d1;
}

.aside-left-category .group-button-category .search-button button{
   display: none;
}


.last-field-category.cat-sidebar.cat-sidebar-left.aside-left-category
.category-content .field-alert:nth-of-type(odd){
    float: none !important;
    width: 100%;
}

.last-field-category.cat-sidebar.cat-sidebar-left.aside-left-category
.category-content .field-alert{
    float: none !important;
    width: 100%;
}

.last-field-category.cat-sidebar.cat-sidebar-left.aside-left-category
.category-content .hide.active{
    display: block !important;
}

.last-field-category.cat-sidebar.cat-sidebar-left
.category-content .checkbox-list .form-group .form-control label {
    display: block;
    float: none;
    margin-right: 5px;
}

#imageChecked{
    display: block;
    width: 10%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.imageChecked-checkbox{
    height: 34px;
}