.category-products {
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

ul.category-products{
    padding-left: 10px;
}
.category-products ul{
    padding-left: 10px;
}
.category-products li{
    padding: 5px 15px;
}



.category-products .panel{
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow:none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a,
.category-products  li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products  .panel-default .badge,
.category-products  li .badge{
    background:none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.catalog  li {
    list-style: none;
}
.left-sidebar{
    background: white;
}


.left-sidebar .badge.pull-right{
    position: absolute;
    right: 25px;
}

