.no-margin-top {
	margin-top: 0px!important;
}
#page-content{position:relative}
#page-content.slide-active{ opacity:0.3}
#slide-nav .navbar-toggle {
	cursor: pointer;
	position: relative;
	line-height: 0;
	float: left;
	margin: 0;
	width: 37px;
	height: 36px;
	padding: 3px 2px 5px 2px;
	border: 0;
	background: transparent;
	margin-right:10px;
}
#slide-nav .navbar-toggle > .icon-bar {
	width: 100%;
	display: block;
	height: 3px;
	margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
	background: #fff;
}
.navbar-header {
	position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
	position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
	#slide-nav .container {
		margin: 0;
		padding: 0;
	}
	#slide-nav .navbar-header {
		margin: 0 auto;
		padding: 0;
	}
	#slide-nav .navbar.slide-active {
		position: absolute;
		width: 100%;
		top: 0px;
		left:0px;
		z-index: 1000;
	}
	#slide-nav #slidemenu {
		background: #f7f7f7;
		left: -80%;
		width: 80%;
		min-width: 0;
		position: absolute;
		padding-left: 0;
		z-index: 2;
		top: 0;
		margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
		min-width: 0;
		width: 80%;
		margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		min-width: 0;
		width: 80%;
		white-space: normal;
	}
	.dropdown-menu > li {
		transition: all .3s ease 0s;
	}
	#slide-nav {
		border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
		background: #272f38;
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/

	#slide-nav .navbar-form {
		width: 100%;
		margin: 8px 0;
		text-align: center;
		overflow: hidden;
		/*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
		text-align: center
	}
	#slide-nav .navbar-form .btn {
		width: 100%
	}
}
@media (min-width:767px) {

	.navbar.navbar-fixed-top.slide-active {
		position: fixed
	}
	.navbar-header {
		left: 0!important
	}
}
.navbar-inverse {
	background:#006ce3;
	color:#fff;
	border:0;
	border-bottom:1px solid #4093ee;
}
.navbar-inverse .navbar-nav > li > a {
	color:#fff;
	font-weight:600;
	transition: all .3s ease 0s;
	transition:none;
}
.navbar-inverse .navbar-nav > li > a .caret {
	display:none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background:none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li  a:hover {
	background:#015cc1
}
.navbar-brand img {
	padding:0px;
	width:140px;
	height:auto;
	padding-top: 2px;
}
.navbar-brand {
	padding:7px 5px 7px 0;
}
.navbar-inverse .navbar-nav > li.list {
	border-left:1px solid rgba(255,255,255,0.8);
	border-radius:50px;
	border-radius:0;
}
.nav > li > a {
	padding:16px 12px 16px 12px;
}
.nav > li {

}
.navbar .container {
	width:100% !important;
}
.dropdown-menu {
	padding:0px;
}
.dropdown-menu li a, .navbar-right .dropdown-menu li a {
	color: #333354 !important;
	border-bottom: 1px dotted #ccc;
}
.dropdown-menu li a {
	color:#000 !important;
	border-bottom:1px dotted #ccc;
	padding:6px 15px;
	font-weight:600;
}
.dropdown-menu li:last-child a{
	border:0px;
}
.dropdown-menu li.active a {
	color:#fff !important;
	font-size:14px;
}
.dropdown-menu li ul{
	width:100%;
	padding:0 !important;
}
.dropdown-menu > li > a:hover {
	background:#e8e9ea !important;
}
.navbar-right .dropdown-menu > li > a { font-size:14px;}
.dropdown-menu > li > a { font-size:14px;}
.dropdown-menu li ul li{ list-style:none;}
.dropdown-menu li ul{ padding:5px 0!important; border-bottom:1px dotted #ccc;}
.dropdown-menu li li{ color:#726872;}
.dropdown-menu li li a{ border:none; display:block; padding:0px 15px; white-space:nowrap; font-size: 13px; color: #5c5c5c !important;  }
.dropdown-menu li li a::before {
	content: "+ " ;

	font-size: 12px;

}
.smwidth.dropdown-menu li a, .mdwidth.dropdown-menu li a {
	color:#333354;
	border-bottom:none;
	padding:5px 15px;
}
.smwidth.dropdown-menu li.col-sm-4, .mdwidth.dropdown-menu li.col-sm-4 {
	padding:0px;
}
.dropdown-header {
	margin-bottom:0px;
	padding-bottom:0px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background:#006ce3;

}
.navbar-right > li > a {
	padding:16px 8px 16px 8px;
}
.dropdown-menu {
	top:43px;
	border-radius:0;
	transition:0s;
	padding:8px 0;
	min-width:170px;
	width:auto;
	top:51px;
}

/*************************mobile**************************/
.navbar-nav li img.icon{ display:none;}
@media (max-width:767px) {

	.navbar-brand{ text-align:center; width: 70%;
    left: 15%; position:absolute; top:0px; display:block; float:inherit; z-index:0}
	.navbar-brand img{ margin:0 auto;}
	.navbar-toggle{ z-index:9}
	.navbar .navbar-header {
		padding:0px !important;
		margin:0px;
	}
	.navbar-nav li {
		padding:0px;
		margin:0px;
	}
	.navbar-nav li a {
		font-size:17px;
		font-weight: normal;
		border-bottom:1px solid #000;
		padding:12px 15px 12px 25px;
		margin:0px;
	}
	.navbar-nav li img {
		width:auto;
		max-width:10%;
		height:auto;
		margin-top:0px;
	}
	.navbar-nav li img.icon{ width:20px; max-width: auto; display: inline-block; margin-right:10px;}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu {
		background:#000;
		border-radius: 0px;
		width:100%;
		padding:15px 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		width:100%;
		padding:5px 10px 5px 28px;
		border-bottom:1px solid #000;
		border-top:none;
		font-size:14px;
		color:#fff !important;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a:hover{ background:none !important;}
	.navbar-inverse .navbar-nav > li.list {
		border:none;
		border-radius:0px;
	}
	.navbar-inverse .navbar-nav > li.list:hover {
		background: none;
		border-radius:0px;
	}
	.navbar-inverse .navbar-nav > li.list a:hover {
		border-radius:0px;
		color:#fff;
	}
	.slide-active > span {
		color:#fff;
	}

	.dropdown-header {
		background:#0d0e11;
		color:#fff;
	}
	li.nav-header {
		background:#000 !important;
		font-size:13px;
		padding:5px 15px 5px 25px;
		background: #1a1e25;
		font-weight: normal;
		border-bottom:1px solid #000;
		color:#fff;
		text-transform:uppercase;
	}
	.nav-sub {
	}
}
/************************************/
.mdwidth {
	min-width: 720px;
}
.smwidth {
	min-width: 420px;
}
@media (max-width:767px) {
	.mdwidth, .smwidth {
		min-width: auto !important;
		overflow:hidden;
	}
}
/****************************************nav-search*************************************/
.nav-search {
	height:10px;
	border-radius:0;
	margin-bottom:0;
	position:relative;
	z-index:9999;

}
.nav-search li {
	border-left:1px solid #fff;
}
.nav-search-main > li {
	margin-top:0px;
	z-index:9999;
	min-height:49px;
}
.nav-search-main > li:last-child{ position:absolute; right:0px; top:0px; border-right:0px; }
.nav-search-main > li:last-child input{ margin:8px 10px 0 10px;}
.nav-search-main > li:before{
	content: "\e252";
	font-family: 'Glyphicons Halflings';
	font-size:9px !important;
	float:right;
	position:relative;
	top:19px;
	right: 10px;
	font-weight:300;
}
.nav-search-main li a {
	padding:15px 30px 14px 10px;
	color:#000;
	font-weight:700;
	font-size:12px;
	text-transform:uppercase;
}
.property-nav {
	position: relative;
}
.property-nav-dropdown {
	background:#fff;
	position:absolute;
	top:49px;
	width:250px;
	padding:0;
	list-style:none;
	z-index:9999 !important;
	display:none;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.property-nav-dropdown .price_list a {
	font-size:14px;
	font-weight:500;
	display:block;
	line-height:28px;
	padding:0px;
}
.property-nav-dropdown input {
	margin-right:4px;
	margin-top:0px;
	position: relative;
	top:2px;
}
.property-nav-dropdown .form-control {
	border-radius: 0px;
	height:28px;
	padding:0px 5px;
	font-weight:500;
}
.property-nav-dropdown{ padding:5px 0}
.property-nav-dropdown li {
	padding:5px 15px;
	border-bottom:1px dotted #ccc;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	position:relative;
	z-index:999;
	background:#fff;
}

.property-nav-dropdown .fa-home {
	font-size:16px;
}
.property-nav-dropdown::before, .dropdown-menu::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 15px solid #fff;
	left: 17px;
	top: -8px;
	z-index: -9;
}
.navbar-right .dropdown-menu::before {
	right: 15px;
	left: inherit;
}
.inputBox{
	margin-bottom:5px;
	position:relative;
}
.inputBox input {
	font-weight:500;
}
.inputBox label{ line-height:28px;}
.inputBox .between{
	position:absolute;
	top:13px; right:-5px;
	width:10px;
	height:2px;
	border-bottom:1px solid #ccc;
}
.nav01{ width:160px !important;}
.nav03{ width:130px !important;}

.nav05{ width:350px !important; right:0px !important;}
.navwidth240{ width:240px !important;}
.navwidth150{ width:150px !important;}
.property-nav-dropdown.nav05::before {
	left:310px;
}
.sortby::before {
	left:195px !important;
}
a.min-price,a.max-price{ cursor:pointer;}
a.min-price:hover,a.max-price:hover{ color:#0067f1;}
.nav04 .btn{ margin-top:10px;}

.hover_bg{
	background:#fff;
	position:absolute;
	left:0; right:0px;
	top:0;
	bottom:0px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	display:block;

}

.hover_bg.active{ display: none;}

.nav-search-main > li > a:hover, .nav-search-main > li > a:focus{
	background:none;
}

.nav-search-main > li.last:before{ content: "\e155"; font-family: 'Glyphicons Halflings'; font-size:14px !important; top:15px;}
.nav-search-main > li:last-child:before{ font-size:0px!important;}
.nav-search-main li li:last-child{ border-bottom:0px; }
.nav-search .navbar-header .form-control{
	position:relative;
	top:8px;
	padding-right:35px
}
.nav-search .navbar-header{
	width:28%;
	min-height:48px;
	padding-right:10px;
}

@media (min-width: 767px) and (max-width:1100px) {
	#slidemenu .nav > li > a {
		padding: 16px 9px 16px 9px;
	}
	#slidemenu .navbar-right > li > a {
		padding: 16px 5px 16px 5px;
	}
}



#slide-nav .navbar-toggle {
	cursor: pointer;
	position: relative;
	line-height: 0;
	float: left;
	margin: 0;
	height: 50px !important;
	width: 50px;
	background: #fff;
	padding: 12px 0px 14px 0;
	border: 0;
	background: transparent;
	border-radius: 0;
	/* border-right: 1px solid #fff; */
	padding-right: 15px;
}

