    .user-add-product .ibox-title h5 {
        padding-left: 25px;
        padding-top: 15px;
        font-weight: bold;
        margin-top: 0px;
    }

    .user-add-product {
        position: relative;
    }

    .product-create, .product-update {
        background: white;
        padding: 5px;
    }

    /*.product-create .ibox.float-e-margins,.product-update .ibox.float-e-margins{
        background: white;
        padding: 20px;
    }*/

    .product-create .intl-tel-input.allow-dropdown,
    .product-update .intl-tel-input.allow-dropdown {
        width: 100%;
    }

    .ibox {
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 0px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 15px 0px 7px;
        min-height: 48px;
    }

    .ibox-title h5 {
        display: inline-block;
        font-size: 18px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        float: left;
    }

    .ibox-tools {
        display: block;
        float: none;
        margin-top: 0;
        position: relative;
        padding: 0;
        text-align: right;
    }

    .ibox-tools a {
        cursor: pointer;
        margin-left: 5px;
        color: #c4c4c4;
    }

    .ibox-content {
        clear: both;
    }

    .ibox-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 0px 0px 0px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .mydba-menu li {
        padding-top: 5px;
    }

    .page-profile {
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 333px;
    }

    .page-profile h1 {
        margin-top: 0px;
        padding-top: 15px;
    }

    .page-profile #catlist {
        padding-top: 15px;
    }

    .page-profile table td a {
        font-size: 23px;
    }

    .page-profile table tr {
        border-bottom: 1px solid #e8e8e8;
    }

    .favourite-profile {
        position: relative;
        right: 0px;
        top: 0px;
        font-size: 14px;
        cursor: pointer;
        opacity: 1;
    }

    #table_report tr td a, #table_admin tr td a {
        font-size: 14px;
    }

    #report_mess, #admin_mess {
        padding-top: 15px;
    }

    .btn.btn-link.logout {
        margin-left: 0px;
        padding-left: 0px;
    }

    .product-index .nav li a{
        font-size: 12px;
    }