@media screen and (min-width: 991px) {
    .navbar-fixed-top {
        display: none;
    }

}

/*responsive*/

@media screen and (max-width: 767px) {
    #navbarNavDropdown {
        width: 75% !important;
    }

    #navbarNavDropdown {
        width: 75% !important;
    }

    .navbar-toggler-content {
        display: block;
        position: relative;
        float: right;
        padding: 10px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #333;
    }

    .navbar-toggler-content .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-top: 4px;
        background-color: #fff;
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #222;
        height: 100vh;
        overflow: auto;
        z-index: 1000000 !important;
    }

    .navbar.navbar-inverse.navbar-fixed-top.mobile, .breadcrumbs-mobile {
        display: block;
    }

    .aside-facebook {
        display: none;
    }
}

@media screen and (min-width: 991px) {

    .group-button-category {
        display: inline-block;
        width: 100%;
    }

    .show.clearfix.field-alert .show.field-image {
        width: 100% !important;
        float: right !important;
    }

    .show.clearfix.field-alert.image {
        float: right;
    }

    .mobile-version {
        display: none
    }

    #adv-search {
        max-width: 400px;
        z-index: 1;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}


@media screen and (max-width: 991px) {

    .last-field-category.cat-sidebar .field-alert{
        width: 100%;
    }
    .show.field-alert.clearfix, .show.field-alert.clearfix{
        width: 100%;
    }

    #slide-nav ul.navbar-nav.navbar-right.nav.myprofile li, ul#nav li {
        margin: 0 auto;
        text-align: center;
        
    }

    #slide-nav #slidemenu .fa.fa-eye {
        float: none !important;
    }

    #slide-nav #slidemenu .navbar-nav {
        text-align: center;
    }

    .ui-tooltip.ui-corner-all {
        left: 29% !important;
    }

    .navbar-fixed-top .mobile-search {
        z-index: 999999999;
    }

    .menu-aside {
        display: none;
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #222;
        height: 100vh;
        overflow: auto;
        z-index: 1000000 !important;
    }

    #slidemenu ul li {
        width: 100%;
    }

    #slide-nav span {
        display: inline-block !important;
    }

    .navbar-fixed-top .navbar-header {
        width: 100%;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #3a3a3a !important;
    }

    .nav-pills > li > .trackClicks:hover {
        background-color: #eee !important;
        border-color: #337ab7;
    }

    .content-category-field .group-button-category .search-button {
        float: left;
        width: auto !important;
        margin-right: 6px;
    }

    .visible-xs {
        display: block !important;
    }

    .product-content .product-child a img {
        max-width: 100%;
        width: auto;
    }

    .banner-widget.custom-class {
        display: none;
    }

    .country-list-select {
        margin-left: 0px;
    }

    #slide-nav .last-viewed span {
        width: auto;
        min-width: 100px;
        margin-top: 6px;
    }

    .country-list-select {
        position: relative !important;
    }

    #search-term-mobile {
        outline: none;
        font-size: 13px;
        display: inline-block;
        height: 36px;
        margin-left: 0px;
        margin-top: 0px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 1px 0 2px 26px;
        border-radius: 2px;
    }

    .mobile-autocomplate #adv-search {
        width: 100%;
    }

    #slide-nav #saved-ads {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #slide-nav {
        position: relative;
    }

    .aside-sidenav-menu {
        display: none;
    }

    .aside-sidenav-mobile .aside-sidenav-menu {
        display: block;
    }

    #slide-nav #slidemenu .navbar-nav {
        width: 100% !important;
    }

    #slide-nav .login.mobile {
        width: 49%;
    }

    #slide-nav .signup.mobile {
        width: 49%;
    }

    #slide-nav #slidemenu .fa.fa-eye {
        color: #f0af1a;
        font-size: 29px;
        float: left;
        margin-right: 9px;
    }

    #slide-nav .last-viewed {
        font-size: 15px;
        width: 100%;
        max-width: 100% !important;
    }

    #slide-nav .single.item-show a {
        width: 100%;
    }

    #slide-nav aside.sidebar ul li > a {
        padding: 12px 15px 12px 25px;
        color: white;
    }

    #slide-nav .last-viewed img {
        float: left;
        margin-right: 9px;

    }

    #slide-nav span {
        display: inline-block;
    }

    #saved-ads img {
        max-width: 35px;
        margin-top: 6px;
    }

    #saved-ads span {
        color: white;
        display: inline-flex;
        line-height: 1px;
    }

    .signin .logout {
        color: #fff;
        font-weight: 600;
        transition: all .3s ease 0s;
        transition: none;
        font-size: 16px;
    }

    .login.mobile {
        float: left;
    }

    .span-left-right {
        float: left;
        padding: 12px 0px 0px 0px;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .signup.mobile {
        padding-left: 15px;
        float: left;
    }

    .mobile-search {
        font-size: 22px;
        padding: 14px 1px 14px 20px;
        color: #5e5e5e;
        position: absolute;
        top: -6px;
        right: 5px;
    }

    .parent-container {
        margin-top: 0px;
    }

    #navbar-logo2 {
        margin-top: -3px;
        width: 102px;
    }

    .parent-container .navbar {
        min-height: 30px;
    }

    .navbar-inverse.header-nav {
        display: none;
    }

    #syi-create {
        text-align: left !important;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    #adv-search .glyphicon.glyphicon-search {
        left: 19px;
    }

    .mobile-autocomplate .selection, .mobile-autocomplate .select2-selection.select2-selection--multiple {
        width: 100%;
    }

    .mobile-autocomplate {
        display: none !important;
    }

    .mobile-autocomplate.active {
        display: block !important;
    }

    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
        max-width: 100%;
        z-index: 999999;
    }

    #content .col-md-9.text-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
    }

    .aside-facebook, .category-aside.country-aside {
        display: none;
    }

    .content-category-field #section-toggle {
        width: auto !important;
    }

    .navbar.navbar-inverse.navbar-fixed-top.mobile {
        display: block;
        position: relative;
    }

    #slide-nav .navbar-toggle {
        cursor: pointer;
        position: relative;
        line-height: 0;
        float: left;
        margin: 0;
        height: 50px !important;
        width: 50px;
        background: #fff;
        padding: 12px 0px 14px 0;
        border: 0;
        background: transparent;
        border-radius: 0;
        /* border-right: 1px solid #fff; */
        padding-right: 15px;
    }

    .navbar-header.slide-active {
        position: relative;
    }

    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 9999;
        top: 0px;
        margin: 0;
    }

    .navbar-toggle i {
        display: none;
        font-size: 20px;
        color: #0f6bdc;
        left: 15px;
        position: absolute;
        top: 15px;
    }

    .navbar-toggle.slide-active i {
        display: block;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #232323;
    }

    #slide-nav {
        border-color: #efefef;
        background-color: #f8f8f8;
    }

    #slide-nav .navbar-header {
        border-color: #efefef;
        background-color: #fff;
    }

    #slide-nav .mobile-autocomplate {
        background: #f8f8f8;
        margin-top: 10px;
    }
    #slide-nav .navbar-toggle > .icon-bar{
        display: block !important;
    }
}

@media screen and (max-width: 460px) {
    #slide-nav .signup.mobile {
        width: 100%;
    }

    #slide-nav .login.mobile {
        width: 100%;
    }

    #slide-nav span{
        display: none !important;
    }

}