.parent-container {
    margin-top: 50px;
    max-width: 960px;
}

.parent-container .logo {
    float: left;
    margin-top: 15px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    right: 0;
}

body {
    background: #f8f8f8;
}

.action-btn {
    min-width: 92px;
    font-weight: bold;
}

.action-btn-login {
    min-width: 120px;
}

.sidebar-layout aside.sidebar-left {
    float: left;
    margin-left: 0;
    width: 200px;
}

aside.sidebar nav {
    margin-bottom: 20px;
}

aside.sidebar p.categories-title {
    margin-bottom: 5px;
}

aside.sidebar ul {
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside.sidebar ul li {
    position: relative;
    border: solid transparent;
    border-width: 1px 0;
}

aside.sidebar ul li > a {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 200px;
    line-height: 25px;
    padding: 3px 0;
    color: #333;
}

header#defaultHeader .searchbar .btn-large, div.html5header#defaultHeader .searchbar .btn-large {
    padding: 8px 10px;
    font-size: 15px;
}

.btn-call-to-action.trackClicks {
    font-weight: bold;
    min-width: 145px;
    background-color: #0c72ea;
    border: solid 1px #0c72ea;
    box-shadow: inset 0 -1px 0 0 #0c72ea;
    color: white;
    /*   background-color: #ffd51f;
       border: solid 1px #ffd51f;*/
    background-image: none;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    text-shadow: none;
    font-family: "DBA_bold";
    letter-spacing: .04em;
    outline: none;
    margin-top: 0;
    border-bottom-color: #0c72ea;
    -webkit-box-shadow: inset 0 -1px 0 0 #0c72ea;
    -moz-box-shadow: inset 0 -1px 0 0 #0c72ea;

}

aside.sidebar ul li > a i {
    font-size: 19px;
}

aside.sidebar ul li > a:hover {
    color: #3269c8;
}

.form-search-input {
    border-radius: 0px;
    min-height: 40px;
}

.form-search-button {
    border-radius: 0px;
}

.form-search-button, #syi-btn, .action-btn {
    min-height: 40px;
    padding: 9px 7px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}



#saved-ads img {
    max-width: 30px;
    margin-top: -5px;
}

.currency-default {
    font-weight: bold;
    color: #333;
}

.currency-default .fa.fa-money {
    padding-right: 3px;
}

.contact_us a {
    font-weight: bold;
    color: #333;
}

/*
.dropdown-menu::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 15px solid #fff;
    right: 10px;
    top: -8px;
    z-index: -9;
}
*/

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff !important;
}

.navbar.navbar-inverse {
    border-color: #efefef;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #ffffff;
}

.slick-slide .slide-title {
    color: #1172b6 !important;
    font-size: 1.05em;
    padding: 8px 0px 0px 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.language-menu li a, .currency-menu li a {
    color: #000 !important;
    border-bottom: 1px dotted #ccc;
    padding: 6px 15px;
    font-weight: 600;
}

.language-menu li.active a, .currency-menu li.active a {
    color: white !important;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/*.slider {
    width: 50%;
    margin: 100px auto;
}*/

.group-regular, .group-regular2 {
    padding-bottom: 24px;
}

.group-regular h3, .group-regular2 h3, .group-regular3 h3 {
    margin-top: 10px;
    margin-left: 20px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-slide {
    overflow: hidden;
}

.slider-item {
    max-height: 166px;
}

.slider-item-other {
    overflow: hidden;
}

.slider-item-other .item-image {
    overflow: hidden;
}

.slider-parent-block .slider-item {
    margin-bottom: 15px;
}

.slick-prev.slick-arrow {
    border-radius: 0 60px 60px 0;
    display: none !important;
    left: 19px;
    z-index: 33333;
    position: absolute;
    top: 47%;
    width: 36px;
    height: 36px;
    border: none;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-next.slick-arrow {
    display: none !important;
    right: 19px;
    border-radius: 60px 0 0 60px;
    z-index: 33333;
    position: absolute;
    top: 47%;
    width: 36px;
    height: 36px;
    border: none;
    background: #fff;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-slider:hover > .slick-prev.slick-arrow {
    display: inline-block !important;
}

.slick-slider:hover > .slick-next.slick-arrow {
    display: inline-block !important;
}

.slick-track .slick-slide .slider-item:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.slick-slide .item-price {
    position: absolute;
    top: 109px;
    z-index: 999999;
    right: 4px;
    line-height: 20px;
    padding: 0 7px 0 4px;
    opacity: 1;
    background: #fff;
    background: linear-gradient(135deg, transparent 0, #fff 0) top left, linear-gradient(225deg, transparent 3px, #fff 0) top right, linear-gradient(315deg, transparent 3px, #fff 0) bottom right, linear-gradient(45deg, transparent 0, #fff 0) bottom left;
    background-size: 55%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1px 1px 1px #999);
    filter: drop-shadow(1px 1px 1px #999);
    color: #3269c8;
    pointer-events: none;
    font-weight: bold;
}

.parent-container .navbar {
    min-height: 150px;
}

.header-content {
    padding-top: 19px;
}

.slick-slide div .slider-item {
    overflow: hidden;
    position: relative;
}

.slider-parent-block {
    position: relative;
}

.slider-parent-block .slider-item {
    position: relative;
}

.same-announcement .slick-track .slick-slide .slide-image:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.slider-parent-block .slider-item:hover .favourite {
    opacity: 1;
}

.slider.responsive-slider .slick-slide:hover .favourite {
    opacity: 1;
}

.favourite {
    z-index: 9999;
}

.action-split {
    height: 40px;
}

footer {
    padding-top: 15px;
    padding-bottom: 10px;
    background: #f2f2f2;
    border-top: 1px solid #d9d9d9;
}

footer .nav > li > a {
    padding: 0;
}

footer .nav > li > a:hover {
    background-color: initial !important;
}

footer .footer-title {
    font-size: 16px;
    color: gray;
    padding-bottom: 5px;
}

footer .footer-row {
    padding: 20px;
}

footer ul li a {
    color: #262626;
}

footer .footer-title strong {
    color: #797979;
}

.select2.select2-container.select2-container--default {
    width: 100%;
}

.select2-selection.select2-selection--single {
    height: 34px !important;
}

#form-signup .intl-tel-input.allow-dropdown {
    width: 100%;
}

.group-user-data .address {
    display: inline-block;
}

.page-profile #catlist {
    padding-top: 15px;
}

#catlist dl {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px dashed #ccc;
    padding: 10px;
    overflow: hidden;
    background: #fafafaad;
    margin-bottom: 20px;
}

#catlist dt img {
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #cbcbcb;
    max-width: 160px;
}

#catlist dt strong {
    float: right;
    padding: 0 0 0 20px;
}

#catlist .title {
    color: #337ab7;
}

#catlist dd {
    overflow: auto;
}

.profile-description {
    padding-top: 5px;
}

#catlist dd.action {
    float: right;
    padding-top: 10px;
}

.profile-user-index {
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 333px;
}

.profile-user-index h1 {
    margin-top: 0px;
    padding-top: 15px;
}

.profile-user-data {
    text-align: center;
}

.user-data.profile-user-data .group-user-data {
    padding-top: 15px;
}

.name-user {
    color: black;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    max-width: 355px;
}

.ui-menu .ui-menu-item div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simpleSearchSeeMoreRowRedesignIcon {
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -57px -276px;
    width: 36px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(/images/IlqxRp6TT6V.png);
}

.calltoactionV2.selected {
    padding-left: 10px;
    padding: 11px;
    position: relative;
    background-color: #00265f;
}

.ui-autocomplete.ui-front li:last-child {
    border-bottom: 1px dotted rgba(204, 204, 204, 0);
}

.calltoactionV2.selected a {
    text-decoration: none;
    margin-left: 33px;
}

.calltoactionV2.selected a .seeMoreV2 {
    color: white;
}

.ui-autocomplete.ui-front a .text {
    color: white;
}

.search .titler {
    height: 30px;
}

.search .titler span {
    line-height: 28px;
    display: block;
    text-decoration: none;
    color: red;
    padding: 0 10px;
    font-size: 14px;
    float: left;
    font-weight: bold;
}

.search .progress {
    height: 2px;
}

.other-date-cat-other {
    margin-right: 0px;
    float: right;
    font-size: 10px;
}

.other-date-cat, .other-date-cat-other {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.regular.slider.responsive-slider .slick-track .slick-slide {
    border: 1px solid rgba(202, 202, 202, 0.38);
    padding: 5px;
}

.similar-ads {
    padding-left: 20px;
    padding-top: 23px;
}

.other-date-cat .currency {
    padding-left: 3px;
}

.slick-slide {
    position: relative;
}

.regular.slider.responsive-slider .favourite {
    right: 10px;
    top: 6px;
}

.same-announcement .slide-image {
    overflow: hidden;
}

.share form button:hover {
    color: #3f3f3f !important;
}

.share form button {
    color: #3b3b3b !important;
}

#catlist dl {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px dashed #ccc;
    padding: 10px;
    overflow: hidden;
    background: #fafafaad;
    margin-bottom: 20px;
}

.profile-description {
    padding-top: 5px;
}

#catlist dd {
    overflow: auto
}

#catlist dt strong {
    float: right;
    padding: 0 0 0 20px;
    font-weight: bold;
    font-size: 17px;
}

#catlist dd.action {
    float: right;
    padding-top: 10px;
}

#catlist .title {
    color: #337ab7;
}

#catlist dt img {
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #cbcbcb;
    max-width: 165px;
}

.grid-view.list-view {
    border: 1px solid #cccccca6;
    background-color: #ffffff;
    border-left: 1px solid #cccccca6;
    margin-bottom: 15px;
}

.grid-view.list-view a:first-child {
    border-right: 1px solid #cecece;
}

.grid-view.list-view a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-view.list-view a.active {
    background-color: #eaecf1b5;
    color: #4b4f56;
}

* html dd {
    height: 1%
}

/* 3px jog*/

.btn.btn-link.logout {
    margin-left: 13px;
    padding-left: 0px;
}

#section-toggle {
    list-style-type: none;
}

#section-toggle a {
    list-style-type: none;
    align-items: center;
    display: flex;
}

.banner-content .banner-image {
    margin-top: 20px;
}

.fb-page.fb_iframe_widget {
    padding-bottom: 15px;
}

.col-md-3.sidenav {
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-3.sidenav .aside-sidenav {
    padding-right: 15px;
    padding-left: 15px;
    background: white;
}

.svg-arrow {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2050%2050%22%20enable-background%3D%22new%200%200%2050%2050%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%233269C8%22%20points%3D%2246.8%2C16.6%2041.7%2C11.5%2024.9%2C28.3%208.2%2C11.5%203.1%2C16.6%2024.9%2C38.5%20%22/%3E%0D%0A%3C/svg%3E%0D%0A');
    background-repeat: no-repeat
}

.btn-facebook, .btn-google, .btn-twitter {
    color: #fff !important;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav > li > .btn-social-icon.btn-facebook:hover, .nav > li > .btn-social-icon.btn-facebook:focus {
    background: #2d4373 !important;
}

.nav > li > .btn-social-icon.btn-google:hover, .nav > li > .btn-social-icon.btn-google:focus {
    background: #dd4b39 !important;
}

.nav > li > .btn-social-icon.btn-twitter:hover, .nav > li > .btn-social-icon.btn-twitter:focus {
    background: #55acee !important;
}

.header-content .collapse.navbar-collapse {
    padding-bottom: 5px;
}

li.footer-title {
    float: left;
    margin-right: 30px;
    font-size: 12px;
    color: #222;
    /* clear: both; */
    /* background-color: #fafafa; */
    /* border-top: 1px solid #efefef; */
}

#content .help-block-content {
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 20px;
}

#contact-form .form-group.field-contactform-verifycode {
    position: relative;
}

.verifyCode-image {
    float: right;
    position: absolute;
    top: -29px;
    right: 0px;
}

form#contact-form .row {
    padding-bottom: 18px;
}

#search-term {
    outline: none;
    font-size: 13px;
    display: inline-block;
    height: 36px;
    margin-left: 7px;
    margin-top: 0px;
    background-color: white;
    padding: 1px 0 2px 26px;
    border-radius: 2px;
    border: 2px solid #30C570;
    border-radius: 4px;
}



#adv-search .glyphicon.glyphicon-search {
    position: absolute;
    z-index: 111122;
    color: #9999a6;
    left: 14px;
    top: 13px;
}

.srach-category {
    border: none;
    border-left: 0px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    height: 37px;
    top: 1px;
    right: 1px;
    width: 80px;
    z-index: 1111;
}

.action-btn.action-btn-login{
    background-color: #ed3237;
    border-color: #ed3237;
    color: white;
}
.action-btn.action-btn-login:focus{
    background-color: #ed3237;
    border-color: #ed3237;
    color: white;
}

.topSearchForm .srach-category b {
    border-color: #9999a6 transparent  transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;

}

.country-list-select {
    display: none;
}

.country-list-select.active {
    display: block;
}

#search-term {
    min-width: 350px;
    margin-left: 5px;
}


.country-list-select {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute !important;
    top: 100%;
}

.country-list-select.active .select2.select2-container {
    min-width: 355px;
}

.country-list-select.active .select2-selection.select2-selection--multiple {
    border-radius: 0px;
}

.menuContainer .fa.fa-tablet {
    font-size: 25px;
}

.ui-autocomplete .label-count {
    text-align: center;
    float: right;
    min-width: 25px;
    min-height: 19px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #999;
    padding-left: 6px;
    padding-right: 8px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    display: flex;
    margin-right: 7px;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
}

.ui-autocomplete .ui-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui-autocomplete .ui-menu-item a {
    text-decoration: none;
}

.ui-autocomplete .label-category {
    font-size: 12px;
    padding-left: 5px;
    color: #b9b9b9;
}

.btn.btn-default.action-btn.my-profile-link{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.profile-add.btn.btn-default.action-split{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group.share{
    min-width: 120px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: none !important;
    border: none !important;
}

.ui-autocomplete li.ui-menu-item:hover {
    background: #f7f7f7;
}

.ui-autocomplete li.ui-menu-item:hover > a {
    color: #3269c8;
}

.last-viewed {
    max-width: 30px !important;
    margin-top: -5px;
}

.icon-sidebar {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-position: 0 -2px;
    margin-top: 0;
}

.srach-category {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.srach-category span {
    color: #9999a6;
    display: flex;
    font-size: 14px;
    margin-top: 0px;
    float: left;
    margin-right: 7px;
}

.srach-category b {
    display: flex;
    font-size: 16px;
    margin-top: 0px;
    float: left;
    margin-right: 0px;
}

.srach-category:hover, .srach-category:focus {
    text-decoration: none;
}

.collapse.navbar-collapse.header-block {
    padding-left: 0px;
    padding-right: 0px;
}

.header-created {
    padding-right: 0px;
    padding-left: 0px;
}

.recent-search {

}

.span-result-field {
    font-size: 11px;
    color: #2c2c2c;
}

.recent-search {
    padding-bottom: 20px;
}

.search-link-div {
    padding-bottom: 9px;
}

.your_recent_searches {
    font-size: 18px;
    padding-bottom: 6px;
}

.url-result-field .fa.fa-search {
    padding-right: 5px;
    font-size: 15px;
}

.url-result-field {
    color: #1172b6 !important;
    font-size: 0.9em;
    padding: 8px 0px 0px 2px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav .aside-sidenav {
    padding-top: 20px;
}

.search-link-div.hide-search {
    display: none;
}

.search-link-div.hide-search.active {
    display: block;
}

.show_hide_item_search .fa.fa-search {
    padding-right: 5px;
    padding-left: 2px;
    font-size: 15px;
}

.search-recent-result #section-toggle {
    color: #1172b6 !important;
    font-size: 0.9em;
    padding: 8px 0px 0px 2px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-user-field {
    padding-bottom: 9px;
}

.exists-user {
    float: left;
    margin-right: 8px;
}

.navbar.navbar-inverse.navbar-fixed-top.mobile, .breadcrumbs-mobile {
    display: none;
}

.last-group .search-block {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-group.share .my-profile-link {
    width: 85%;
    padding: 9px 10px !important;
    font-size: 13px;
    background-color: #ed3237;
    border-color: #ed3237;
    color: white;
}

.profile-add.btn.btn-default,.profile-add.btn.btn-default:hover,.profile-add.btn.btn-default:focus{
    background-color: #ed3237 !important;
    border-color: #ed3237 ;
    color: white;
}

.group-sliders{
 /*   display: none;*/
}
.btn-group.share button {
    width: 15%;
    padding-right: 8px !important;
    padding-left: 2px !important;

}


#syi-create {
    text-align: center;
}

.btn-group.share {
    width: 100%;
}

.navbar-toggler-content {
    display: none;
}

#sharing:hover ~ .social-dropdown{
    display:block;
}

.social-dropdown:hover{
    display: block;
}

.mobile-version .mobile-view a{
    padding: 10px;
    border: 1px solid #cccccca6;
    background-color: #ffffff;
    border-left: 1px solid #cccccca6;
    margin-bottom: 15px;
}
.mobile-version .mobile-view{
    float: right;
}